.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs

!.yarn/cache
# .pnp.*

#storybook build directory
storybook-static

dist
node_modules

*storybook.log
.DS_Store

stats.html

.env.local
!.env.example
.env

.turbo/