.slot {
  margin-top: var(--awell-spacing-4);
  color: var(--awell-slate600);
  font-size: var(--awell-font-size-sm);
  font-weight: var(--awell-font-medium);
  display: flex;
  align-items: center;
  gap: var(--awell-spacing-1\.5);
  &:before {
    content: '';
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: var(--awell-border-radius-full);
  }

  &.none {
    &:before {
      display: none;
    }
  }
  &.orange {
    &:before {
      background-color: #facc15;
    }
  }
  &.green {
    &:before {
      background-color: #16a34a;
    }
  }
}
