.title {
  font-weight: var(--awell-font-medium);
  color: var(--awell-slate900);
  font-size: var(--awell-font-size-lg);
  margin-top: 0;
}

.loading {
  display: flex;
  justify-content: center;
}

.fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  overflow: visible;
}

.slotList {
  display: flex;
  flex: 1;
}

.group {
  &.horizontal {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns per row */
    gap: var(--awell-spacing-3);
  }
  &.vertical {
    display: flex;
    flex-direction: column;
    gap: var(--awell-spacing-3);
  }
}

.radio_option {
  position: relative;
  display: block;
  cursor: pointer;
  border-radius: var(--awell-border-radius-md);
  border: 1px solid var(--awell-slate200);
  background-color: #fff;
  padding: var(--awell-spacing-3\.5) var(--awell-spacing-4);
  box-shadow: var(--awell-shadow-sm);
  outline: none;
  text-align: center;
  font-size: var(--awell-font-size-base);
  color: var(--awell-slate600);
  font-weight: var(--awell-font-medium);
  &:hover {
    background-color: var(--awell-secondary-color);
    border-color: var(--awell-accent-color);
  }
}

.radio_option:focus,
.radio_option[data-focus] {
  border-color: var(--awell-accent-color);
  box-shadow: 0 0 0 1px var(--awell-accent-color);
}

.radio_option[data-checked] {
  border-color: var(--awell-accent-color);
  color: var(--awell-accent-color);
  outline: 4px solid var(--awell-secondary-color);
}

.radio_option[data-disabled] {
  cursor: not-allowed;
}
