.main {
  flex: 1;
}

.container {
  max-width: 650px;
  padding: 0 var(--awell-spacing-4);
  margin: 0 auto;
}

.button_wrapper {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
  width: 100%;
}

.back_button {
  // Rest
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;

  // New styles
  color: var(--awell-accent-color);
  font-size: var(--awell-font-size-sm);
  margin-bottom: var(--awell-spacing-4);

  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
