.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--awell-spacing-6);
  margin-bottom: var(--awell-spacing-6);
  border-bottom: 1px solid var(--awell-slate200);
}

.timeslots {
  padding-top: var(--awell-spacing-6);
  margin-top: var(--awell-spacing-6);
  border-top: 1px solid var(--awell-slate200);
  .heading {
    margin-bottom: var(--awell-spacing-4);
  }
  .timeZone {
    text-align: center;
    color: var(--awell-accent-color);
    font-weight: var(--awell-font-base);
    font-size: var(--awell-font-size-base);
    margin: 0;
    margin-top: var(--awell-spacing-1);
  }
}

.confirm {
  padding-top: var(--awell-spacing-6);
  margin-top: var(--awell-spacing-6);
  border-top: 1px solid var(--awell-slate200);
}

.title {
  color: var(--awell-slate800);
  font-weight: var(--awell-font-semibold);
  font-size: var(--awell-font-size-xl);
  margin: 0;
  &.center {
    text-align: center;
  }
  span {
    color: var(--awell-accent-color);
  }
}

.headshot {
  border-radius: var(--awell-border-radius-full);
  width: 4rem;
  height: 4rem;
}
