.select_input {
  display: block;
  padding: var(--awell-spacing-2\.5);
  border-radius: var(--awell-border-radius-lg);
  border-width: 1px;
  border-color: var(--awell-slate300);
  width: 100%;
  font-size: var(--awell-font-size-base);
  line-height: 1.25rem;
  color: var(--awell-slate800);
  appearance: none;
}
